
/* AGE VERIFICATION */

.age-box{
    max-width:500px;
    margin:120px auto;
    background:#18181b;
    padding:40px;
    border-radius:20px;
    text-align:center;
}

.age-box h1{
    color:#ff0050;
    margin-bottom:20px;
}

.age-box p{
    color:#ddd;
    margin-bottom:30px;
    line-height:1.6;
}

.age-box button{
    width:100%;
    padding:16px;
    margin-top:15px;
    border:none;
    border-radius:10px;
    background:#ff0050;
    color:white;
    font-size:18px;
    cursor:pointer;
}

.exit-btn{
    background:#444;
}
